# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
*.egg-info/
dist/
build/

# Byte-compiled / optimized / DLL files
*.so

# SQLite DB (désactiver si tu veux versionner la DB)
*.db
association.db

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log
logs/
*.sqlite3

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-workspace
